<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Launch Realsense camera -->
  <arg name="pointcloud_enabled" default="True"/>
  <arg name="camera_enabled" default="True"/> <!-- False if the camera is already launched-->
  <group if="$(arg camera_enabled)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="align_depth" value="True"/>
      <arg name="filters" value="pointcloud" if="$(arg pointcloud_enabled)"/>
    </include>
  </group>

  <!-- Launch YOLO inference test-node with boundingbox centroid estimator -->
  <arg name="confidence_threshold" default="0.7"/>
  <arg name="config_path" default="$(find object_detection)/config/class_list.yaml"/>
  <arg name="display_enabled" default="True"/>  <!-- True to visualize object detection results-->
  <arg name="model_version" default="3"/>
  <arg name="weight_path" default="$(find object_detection)/weight/yolo11_v$(arg model_version).pt"/>
  <node pkg="detection_examples" type="yolo_inference_pointcloud_estimator.py"
        name="yolo_inference_pointcloud_estimator" output="screen">
    <param name="confidence_threshold" value="$(arg confidence_threshold)"/>
    <param name="config_path" value="$(arg config_path)"/>
    <param name="display_enabled" value="$(arg display_enabled)"/>
    <param name="weight_path" value="$(arg weight_path)"/>
  </node>

  <!-- Launch eye-in-hand TF broadcaster -->
  <arg name="eye_in_hand_tf_publisher_enabled" default="True"/> <!-- False if the publisher is already launched-->
  <group if="$(arg eye_in_hand_tf_publisher_enabled)">
    <include file="$(find detection_examples)/launch/eye_in_hand_publish.launch"/>
  </group>
</launch>